<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/C%C3%B3pia_de_list_comp_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list comprehension

In [ ]:
# basics of list

# defined an empty list
mylist = []

# very flexible python datastructures
['pedro',25,True,['1','2','3']]

# lists have many cool methods

mylist.append(0)

In [ ]:
mylist.append("The name is Shelby")

In [ ]:
mylist

[0, 'The name is Shelby']

In [ ]:
friends = ['Joey','Ross','Phoebe','Rachel']

In [ ]:
# lists object allow for concatenation
newlist = friends + mylist

In [ ]:
# i am running a method inside the object
newlist.clear()

In [ ]:
newlist

['Joey', 'Ross', 'Phoebe', 'Rachel', 0, 'The name is Shelby']

In [ ]:
# the pop function returns the element that it popped
newlist.pop()

'The name is Shelby'

In [ ]:
# in-place method -> doesnt return the object itself, but perform a change on the original object
newlist.pop(0)

'Joey'

In [ ]:
newlist

['Ross', 'Phoebe', 'Rachel', 0]

In [ ]:
# index method

newlist.index(1)

ValueError: ignored

In [ ]:
# a few operators that are not list methods but are used with lists many times

names = ['Zoe','Maria','Joan','Diogo','Melissa']

find_name = 'Maria'

if find_name in names:
  print("I found her/him at",names.index(find_name))

I found her/him at 1

In [ ]:
print('pedro')
print('antero')

pedro
antero

In [ ]:
# list indexing

#basic indexing
names[0]

# also called slicing
names[0:4]

# taking it up a level -> jumps in steps of zero
#mylist[start::jumps of x]
names[::3]

['Zoe', 'Diogo']

In [ ]:
 # mix lists with if's with iterations
names = ['Zoe','Maria','Joan','Diogo','Melissa']

for name in names:
  if len(name) <=4:
    print("short name")
  else:
    print("not so short name")

short name
not so short name
short name
not so short name
not so short name

In [ ]:
 # mix lists with if's with iterations -> but now use the condition to populate a new list
names = ['Zoe','Maria','Joan','Diogo','Melissa']

short_names = []

for name in names:
  if len(name) <=4:
    short_names.append(name)
  else:
    continue
    print("hello")
    # continue skips the rest of what is in that indentation level
    # pass, allows you to still run what comes after
    # for now the pass and continue

In [ ]:
# my first list comprehension

mylist = [1,2,3,4,5]

# let's create a list comp that immediately creates a list with all the squares

# [result (or what i want) for element in iterable]

[number**2 for number in mylist]

# saves code
# no need for indentation

# performance

# not very efficient from memory usage and requesting objects stored
squares = []
for number in mylist:
  squares.append(number**2)
squares

[1, 4, 9, 16, 25]

In [ ]:
# list comps with conditions

# [what i want for element in iterable if some condition on element]
[number**2 for number in mylist if (number == 2) or (number ==3)]

[4, 9]

In [ ]:
# how do I check if a number is even or odd ? -> remainder division %
[number**2 for number in mylist if number%2 == 1]
#if number%2 == 1

[1, 9, 25]

In [ ]:
# solving the starter with a one-liner
sum([number**2 for number in mylist])

55

In [ ]:
newlist = [number**2 for number in mylist]

In [ ]:
newlist[::2]

[1, 9, 25]

In [ ]:
# so far our conditional stuff was only to decide which elements to include in the final list
# there is also an alternative

# list comp that returns the square of a number if its even, or the cube of the number if its odd
#[what you want if condition 1 else another result for number in iterable]
[number**2 if number%2==0 else number**3  for number in mylist  ]

[4, 16]

In [ ]:
# two types of conditionals in list comps

# if statement to check which elements you want to return
# here you are applying a filter on which elements to act upon
print([number**2 for number in mylist if number%2 == 0])

# here all elements are returned somehow, based on a condition
[number**2 if number%2==0 else number**3  for number in mylist  ]

[4, 16]

[1, 4, 27, 16, 125]

In [ ]:
# example of what not to do -> dont do nested if's inside list comp
[print('fizzbuzz') if num %3 == 0 and num%5 == 0  else (print('fizz') if num%3 == 0 else print('buzz') if num%5 ==0 else print(num)) for num in range(1, 101)]

In [ ]:
# advanced list comps

# I am performing a normal list comp, but returning a list
[[i] for i in range(10)]

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9]]

In [ ]:
nested = [[subelement for subelement in range(5)] for element in range(10)]

In [ ]:
# range function creates an iterable
range(10)

range(0, 10)

In [ ]:
nested

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [ ]:
# imagine I want to flatten the list out -> [0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,....]

final = []
for something in nested:
  #print(something)
  final = final + something

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
# learn how to flatten using a list compre

In [ ]:
[1,2,3,4] + [9,8,6]

[1, 2, 3, 4, 9, 8, 6]

In [ ]:
# [final_result -> referring to value for sublist in biglist for value in sublist ]

nested

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [ ]:
# flatten out a nested object
[value for something in nested for value in something]

In [ ]:
planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter"], ["Uranus", "Neptune", "Pluto"]]

# nested list comps with conditions

[planet for group in planets for planet in group if len(planet) == 7]

['Mercury', 'Jupiter', 'Neptune']

In [ ]:
[planet if len(planet) == 7 else 'not seven' for group in planets for planet in group]

['Mercury',
 'not seven',
 'not seven',
 'not seven',
 'Jupiter',
 'not seven',
 'Neptune',
 'not seven']

In [ ]:
# antero's discovery of a new solar system -> we can do a condition in the intermediary loops
[planet for group in planets if len(group) == 2 for planet in group]

['Mars', 'Jupiter']