<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing libraries
import pandas as pd
import numpy as np

## First step - import the dataset and look at it!!

In [ ]:
# Uploading Dataframe
ds = pd.read_csv('vehicles_messy.csv')
#ds.head()

In [ ]:
# Check how many columns and entries (so you have an idea when comparing with missing values)
ds.shape

In [ ]:
ds.describe()

## Data Cleaning 1 - check missing or (abnormally) zero values

In [ ]:
# Check for Missing Values. Is this easy to see? When to drop the lines and when to drop the column.
ds.isnull().sum()

In [ ]:
#Get rid of all the columns with zero
ds_null = ds.isnull().sum()
ds_null [ds_null > 0] # Introducing filter!!! Adding function

In [ ]:
#Check for zero values
zeros_values = ds[ds == 0.0].count()
zeros_values [['cylinders', 'displ']]

In [ ]:
#Make a list to drop
drop_cols = list(ds_null[ds_null > 10000].index)     ## The threshold is a bit lax....
ds_dropped = ds.drop(drop_cols, axis=1)

ds_dropped.head()

In [ ]:
## How do we check for negative values? Do it now plz :)

In [ ]:
# Cylinders and displ have similar number of Null values? Maybe they have the same null entries? 
# We could drop them or keep them
null_displ = ds[ds['displ'].isnull()]

null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']]
null_displ

In [ ]:
# In case we decide they are important even with little data,
# we might want to fill the missing values with a value we choose. In this case we fill zero.
ds[['displ', 'cylinders']] = ds[['displ', 'cylinders']].fillna(0)
ds[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']][29670:30000]

In [ ]:
# Is there any entry that has one of the two values different from 0?
test = ds[(ds['cylinders']==0) & (ds['displ']!=0)]
test[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']]

In [ ]:
# We could replace the value with 4?
ds.loc[(ds['cylinders']==0) & (ds['displ']!=0), 'cylinders'] = 4

test = ds[(ds['cylinders']==4) & (ds['displ']!=0)]
test[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']]

## Data Cleaning 2 - Data Type Correction

Sometimes you might want to change the type of a value

In [ ]:
ds['year'].dtypes

In [ ]:
ds['year'] = ds['year'].astype('object')
ds['year'].dtype

## Data Cleaning 3 - Cleaning Text and Removing Special Symbols

In [ ]:
print(set(ds['trany']))

In [ ]:
ds['trany'] = ds['trany'].str.replace('-', '')
ds['trany']

## Data Cleaning 4 - Removing Duplicates

In [ ]:
before = len(ds)
ds = ds.drop_duplicates()
after = len(ds)
print('Number of duplicate records dropped: ', str(before - after))

In [ ]:
# Sometimes depends on what you are considering

select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 
                  'trany', 'drive', 'VClass','fuelType','barrels08', 
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

ds = ds[select_columns].drop_duplicates()
after = len(ds)
print('Number of duplicate records dropped: ', str(before - after))