<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/dicts_sets_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# this is the game of new python data structures

# lists

# dictionaries

# tuples

# sets

# there a mixture of all of these

In [ ]:
# dictionaries

# a list has a very natural and concrete order
['Joey','Ross','Phoebe']

# dictionary -> things are not indexed by position, they are located by key:value pairs

# dict = { key : value, key2 : value2, }
mydict = {'Felipe Barrocas' : 'Teacher', 'Celina Agostinho' : 'PhD in Linguistics', 'Guilaume Aubert' : "Working at Accenture"}

In [ ]:
# you cannot index it like a list -> you must index by the key
mydict[0]

KeyError: ignored

In [ ]:
mydict['Celina Agostinho']

'PhD in Linguistics'

In [ ]:
# common usecases for dictionaries
# any time series is very naturally represented with a dictionry
{'2020-06-30' : 12.5, '2020-07-01' : 11, '2020-07-02' : 13}

{'Portugal' : 10000000, 'Germany' : 85000000}

In [ ]:
# let's look at the methods inside

mydict.keys()

dict_keys(['Felipe Barrocas', 'Celina Agostinho', 'Guilaume Aubert'])

In [ ]:
name = 'Gonçalo Nobre'

if name not in mydict.keys():
  mydict[name] = "Finance Master and Researcher"

In [ ]:
# here he looks for name and value -> warning!! you loose control
name in mydict

True

In [ ]:
name in mydict.keys()

True

In [ ]:
name in mydict.values()

False

In [ ]:
mydict

{'Celina Agostinho': 'PhD in Linguistics',
 'Felipe Barrocas': 'Teacher',
 'Gonçalo Nobre': 'Finance Master and Researcher',
 'Guilaume Aubert': 'Working at Accenture'}

In [ ]:
mydict.pop('Gonçalo Nobre')

'Finance Master and Researcher'

In [ ]:
mydict

{'Celina Agostinho': 'PhD in Linguistics',
 'Felipe Barrocas': 'Teacher',
 'Guilaume Aubert': 'Working at Accenture'}

In [ ]:
mydict.popitem()

('Celina Agostinho', 'PhD in Linguistics')

In [ ]:
# but dictionaries are also flexible

mydict = {0 : 10 , 'second' : ['Gonçalo','Zoe','Maria'], 'third' : {'Germany' : 'Berlin', 'Portugal' : 'Lisbon'}}

In [ ]:
mydict[0]

10

In [ ]:
for key in [0,12.0,'Lisbon']:
  mydict[key] = 'value'

In [ ]:
mydict

{0: 'value',
 12.0: 'value',
 'Lisbon': 'value',
 'second': ['Gonçalo', 'Zoe', 'Maria'],
 'third': {'Germany': 'Berlin', 'Portugal': 'Lisbon'}}

In [ ]:
mydict['Porto']

KeyError: ignored

In [ ]:
mydict = {'Felipe Barrocas' : 'Teacher', 'Celina Agostinho' : 'PhD in Linguistics', 'Guilaume Aubert' : "Working at Accenture" , 'Pedro Carneiro' : "Working at Accenture" }

looking_for = "Working at Accenture"

index_i_need = list(mydict.values()).index(looking_for)

list(mydict.keys())[index_i_need]

'Guilaume Aubert'

In [ ]:
mydict.values()

dict_values(['Teacher', 'PhD in Linguistics', 'Working at Accenture'])

In [ ]:
mydict.keys()

dict_keys(['Felipe Barrocas', 'Celina Agostinho', 'Guilaume Aubert'])

In [ ]:
[value for value in list(mydict.values()) if value == looking_for]

['Working at Accenture']

In [ ]:
[key for key in mydict.keys() if mydict[key] == "Working at Accenture"]

['Guilaume Aubert', 'Pedro Carneiro']

In [ ]:
for key in mydict.keys():
  # testing the value!!!!!!
  if mydict[key] == "Working at Accenture":
    print(key)

Guilaume Aubert
Pedro Carneiro

In [ ]:
# interview like question

a = "pedrooo"
b = "oedrppp"

# are the two strings anagrams of each other? 

# solution 1 -> sort both strings alphabetically -> compare them

for letter in a:
  for subletter in b:
    if letter != subletter:
      print("not anagram")

In [ ]:
# dictionaries are excellent to count the number of occurrences in something -> letter, etc
a = "pedrooo"
b = "oedrppp"
a_dict = {}
for letter in a:
  print(a_dict.values())
  if letter in a_dict.keys():
    a_dict[letter] += 1
  else:
    a_dict[letter] = 1

dict_values([])
dict_values([1])
dict_values([1, 1])
dict_values([1, 1, 1])
dict_values([1, 1, 1, 1])
dict_values([1, 1, 1, 1, 1])
dict_values([1, 1, 1, 1, 2])

In [ ]:
a_dict

{'d': 1, 'e': 1, 'o': 3, 'p': 1, 'r': 1}

In [ ]:
newdict = {}

In [ ]:
newdict['Pedro'] = 2

In [ ]:
newdict

{'Guilaume': 2, 'Pedro': 2, 'a': 2}

In [ ]:
newdict = {}
for letter in a:
  newdict[letter] = 1

In [ ]:
newdict

{'d': 1, 'e': 1, 'o': 1, 'p': 1, 'r': 1}

In [ ]:
# items method returns a
mydict.items()

# returns several tuples with key - value pairs

dict_items([('Felipe Barrocas', 'Teacher'), ('Celina Agostinho', 'PhD in Linguistics'), ('Guilaume Aubert', 'Working at Accenture'), ('Pedro Carneiro', 'Working at Accenture')])

In [ ]:
# if you want to manipulate them you have to convert it to a list

list(mydict.items())[0][1]

'Teacher'

In [ ]:
keys = ['Pieter' , 'Jorge', 'Antero']
values = ['grey', 'blue', 'red','yellow']

{ key : value for key, value in zip(keys, values)}

{'Antero': 'red', 'Jorge': 'blue', 'Pieter': 'grey'}

In [ ]:
# zip allows you to iterate over multiple iterables at the same time, using the same index
for a,b in zip(keys, values):
  print(a +b)

Pietergrey
Jorgeblue
Anterored

In [ ]:
# zip object is created with pointer to memory address
list(zip(keys, values))

[('Pieter', 'grey'), ('Jorge', 'blue'), ('Antero', 'red')]

In [ ]:
# second data structure in python -> Tuples
# you don't mess with tuples once they are created -> immutable


mytuple = ('Pedro', 27, '18/11/1992', 'Lisbon')

In [ ]:
list_of_tuples = [('Pedro', 27, '18/11/1992', 'Lisbon'),('Francisco', 28, '18/11/1992', 'Lisbon')]

In [ ]:
# index them just a list
mytuple[2]

'18/11/1992'

In [ ]:
# why tuples?

# non volatile storage of data -> they are excellent to take snapshots
# faster to read

In [ ]:
for element in mytuple:
  print(element)

Pedro
27
18/11/1992
Lisbon

In [ ]:
# you can force a list to become a tuple
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [ ]:
# you can force a tuple to become a list

# convert tuple to list
mylist = list(mytuple)
# perform list operations on a list -> flexible
mylist.append(6)
# bring it back to tuple
tuple(mylist)

('Pedro', 27, '18/11/1992', 'Lisbon', 6)

In [ ]:

list(mytuple).append(6)
# the append returns nothing -> inplace method
tuple(list(mytuple))

In [ ]:
#### 

students = ('Maria', 'João', 'Ramesh')

In [ ]:
more_students = students + ('Gonçalo Nobre','Gonçalo Pinto')

In [ ]:
more_students

('Maria', 'João', 'Ramesh', 'Gonçalo Nobre', 'Gonçalo Pinto')

In [ ]:
# more interesting, last but not least -> sets

# sets are represented by curly brackets, but without the key : value structure

names = {'Maria', 'João', 'Ramesh','Maria'}

In [ ]:
# sets only keep the UNIQUE values of a given iterable
names

{'João', 'Maria', 'Ramesh'}

In [ ]:
# sets do NOT support indexing
names[0]

TypeError: ignored

In [ ]:
lawyers = {'Felipython', 'Jhonatas'}

outside_lisbon = {'Jhonatas', 'Felipe'}

In [ ]:
# the power of sets is to create logic of intersections/differences between different groups of data
lawyers.intersection(outside_lisbon)

{'Jhonatas'}

In [ ]:
mylist = [0,1,2,3,4,5,5,5,5,4,7]
set(mylist)

{0, 1, 2, 3, 4, 5, 7}

In [ ]:
a = 'pedroooooo'

In [ ]:
# how to check if an array only has distinct elements
# this is the most elegant way

len(mylist) == len(set(mylist))

False