<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/dicts_sets_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The objective of this lesson is to review Python's main native data structures. In the previous class we reviewed lists. These are extremely flexible and useful however, once we are trying to scale to more complex data structures, we need to have other resources. Today we will look at:

* Dictionaries
* Tuples
* Sets

In [ ]:
mydict = {}

mydict['Pedro'] = 100
mydict['Francisco'] = 2

mydict.keys()

dict_keys(['Pedro', 'Francisco'])

In [ ]:
#notation of dictionary

mydict = {}

mydict['Pedro'] = "Data Education Team"

mydict['Luke'] = "Data Education Team & Data Student"

mydict['Eduardo'] = "Data Student & WebDev Student"

mydict['Rita'] = "Data Student"

mydict['Sonia'] = "Data Student & WebDev Student & Webdev Education Team"

mydict

{'Eduardo': 'Data Student & WebDev Student',
 'Luke': 'Data Education Team & Data Student',
 'Pedro': 'Data Education Team',
 'Rita': 'Data Student',
 'Sonia': 'Data Student & WebDev Student & Webdev Education Team'}

In [ ]:
mydict

{'Eduardo': 'Data Student & WebDev Student',
 'Luke': 'Data Education Team & Data Student',
 'Pedro': 'Data Education Team',
 'Rita': 'Data Student',
 'Sonia': 'Data Student & WebDev Student & Webdev Education Team'}

In [ ]:
mylist = list(mydict.keys())
mylist

for value in mydict.values():
  print(value)


print(mydict.keys())

Data Education Team
Data Education Team & Data Student
Data Student & WebDev Student
Data Student
Data Student & WebDev Student & Webdev Education Team
dict_keys(['Pedro', 'Luke', 'Eduardo', 'Rita', 'Sonia'])

In [ ]:
# lets see some properties of the keys of a dictionary -> type? indexable? iterable?
mydict.keys()

#what other datastructure could we use to make indexing easier?

list(mydict.keys())

#can we get the index of the position of a key in a dictionary? is it relevant?

list(mydict.keys()).index("Eduardo")

print(list(mydict.keys()).index("Eduardo"))

2

In [ ]:
list(mydict.items())

[('Pedro', 'Data Education Team'),
 ('Luke', 'Data Education Team & Data Student'),
 ('Eduardo', 'Data Student & WebDev Student'),
 ('Rita', 'Data Student'),
 ('Sonia', 'Data Student & WebDev Student & Webdev Education Team')]

In [ ]:
mydict.values()

dict_values(['Data Education Team', 'Data Education Team', 'Data Student & WebDev Student', 'Data Student'])

In [ ]:
mydict

{'Eduardo': 'Data Student & WebDev Student',
 'Luke': 'Data Education Team & Data Student',
 'Pedro': 'Data Education Team',
 'Rita': 'Data Student',
 'Sonia': 'Data Student & WebDev Student & Webdev Education Team'}

In [ ]:
mydict.pop("Pedro")
mydict

{'Eduardo': 'Data Student & WebDev Student',
 'Luke': 'Data Education Team & Data Student',
 'Rita': 'Data Student',
 'Sonia': 'Data Student & WebDev Student & Webdev Education Team'}

In [ ]:
#some other cool methods might seem familiar to you
mydict['Pedro'] = "Data Education Team"
print(mydict.pop("Pedro")) #notice what is returned here
print(mydict)

mydict['Pedro'] = "Data Education Team"

Data Education Team
{'Luke': 'Data Education Team', 'Eduardo': 'Data Student & WebDev Student', 'Rita': 'Data Student'}

In [ ]:
# removes the last inserted item
mydict.popitem()
mydict
mydict['Pedro'] = "Data Education Team"
mydict['Pedro'] = "Data Education Team"
mydict

{'Eduardo': 'Data Student & WebDev Student',
 'Luke': 'Data Education Team',
 'Pedro': 'Data Education Team'}

In [ ]:
#but dictionaries can have mixed keys/values as data types!

# Creating a Dictionary  
# with Mixed keys 
mydict = {'Name': 'Geeks', 1: [1, 2, 3, 4]} 

#pretty flexible right?
mydict

{1: [1, 2, 3, 4], 'Name': 'Geeks'}

In [ ]:
# challenge -> let's make a dictionary out of the letters in a string
sentence = "this is a new text, pretty cool"

new_dict = {}
for letter in sentence:

  if letter in new_dict.keys():
    new_dict[letter] += 1
  else:
    new_dict[letter] = 1

new_dict

{' ': 6,
 ',': 1,
 'a': 1,
 'c': 1,
 'e': 3,
 'h': 1,
 'i': 2,
 'l': 1,
 'n': 1,
 'o': 2,
 'p': 1,
 'r': 1,
 's': 2,
 't': 5,
 'w': 1,
 'x': 1,
 'y': 1}

In [ ]:
sentence = "this is a new text, pretty cool yes, this text is new and cool"
sentence.split(" ")

new_dict = {}
for word in sentence.split(" "):

  if word in new_dict.keys():
    new_dict[word] += 1
  else:
    new_dict[word] = 1

new_dict

{'a': 1,
 'and': 1,
 'cool': 2,
 'is': 2,
 'new': 2,
 'pretty': 1,
 'text': 1,
 'text,': 1,
 'this': 2,
 'yes,': 1}

In [ ]:
# another method to explore
mydict.items()

In [ ]:
# let's bring it all together and 
[ (key, value) for key, value in mydict.items() ]

[('Luke', 'Data Education Team & Data Student'),
 ('Eduardo', 'Data Student & WebDev Student'),
 ('Rita', 'Data Student'),
 ('Sonia', 'Data Student & WebDev Student & Webdev Education Team')]

In [ ]:
list(mydict.items())

[('Luke', 'Data Education Team & Data Student'),
 ('Eduardo', 'Data Student & WebDev Student'),
 ('Rita', 'Data Student'),
 ('Sonia', 'Data Student & WebDev Student & Webdev Education Team')]

In [ ]:
# challenge -> let's make a dictionary out of the letters in a string
sentence = "this is a new text, pretty cool"

{' ': 6,
 ',': 1,
 'a': 1,
 'c': 1,
 'e': 3,
 'h': 1,
 'i': 2,
 'l': 1,
 'n': 1,
 'o': 2,
 'p': 1,
 'r': 1,
 's': 2,
 't': 5,
 'w': 1,
 'x': 1,
 'y': 1}

In [ ]:
#solution
mydict = {}

for letter in sentence:
  if letter in mydict.keys():
    mydict[letter] +=1
  else:
    mydict[letter] = 1

mydict

In [ ]:
sentence = "this is a new text, pretty cool"
sentence.split(" ")
mydict = {}
for word in sentence.split(" "):
  if word in mydict.keys():
    mydict[word] +=1
  else:
    mydict[word] = 1

mydict

{'a': 1, 'cool': 1, 'is': 1, 'new': 1, 'pretty': 1, 'text,': 1, 'this': 1}

In [ ]:

keys = ['a','b','c','d','e','f'] 
values = [1,2,3,4,5,6,7] 


for key,value in zip(keys, values):
  print(key)
  print(value)

a
1
b
2
c
3
d
4
e
5
f
6

In [ ]:
{key: value for key,value in zip(keys,values)}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:

keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5] 

mydict = {key:value for (key,value) in zip(keys,values)}
mydict

#do we always need to iterate over both?
#this is a special case :)
mydict = {x: x**2 for x in range(10)}
mydict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#important methods to learn

mydict.values()

#mydict.pop(2)

4

In [ ]:
mydict

{0: 0, 1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
categories = ["Data Student", "WebDev Studdent", "WebDev Education Team", "Data Education Team"]

# welcome to Tuples!
pedro = (categories[3],)
luke = (categories[0],categories[3])
eduardo = (categories[1], categories[0])

In [ ]:
registration = {}
registration["15022020"] = ("matteo","cat")
registration["17022020"] = ("matteo","cat","eduardo")

registration

{'15022020': ('matteo', 'cat'), '17022020': ('matteo', 'cat', 'eduardo')}

In [ ]:
categories = ["Data Student", "WebDev Studdent", "WebDev Education Team", "Data Education Team"]

# welcome to Tuples!
pedro = (categories[3],)
luke = (categories[0],categories[3])
eduardo = (categories[1], categories[0])

datapt = {}

datapt["pedro"] = pedro
datapt["luke"] = luke
datapt["eduardo"] = eduardo

# now how can I access the interiors of a Tuple?
type(datapt["luke"][0])

#don't mess with tuples, you cant do much with them once they have been created

#luke.append("WebDev Student")

# any ideas to workaround the fact that tuples are immutable?
# turn them into something less badass, and then back to tuple

str

In [ ]:
luke = (categories[0],categories[3])
print(luke)
new = list(luke)
new.append(categories[1])
luke = tuple(new)
luke

('Data Student', 'Data Education Team')

('Data Student', 'Data Education Team', 'WebDev Studdent')

In [ ]:
data_class = {"pedro","monique","diogo","keren","pedro","luke","luke","paola","sonia", "eduardo"}

web_devs = {"sonia","eduardo", "carneiro 1st"}

web_devs.intersection(data_class)

{'eduardo', 'sonia'}

In [ ]:
some_data = ["pedro","monique","diogo","keren","pedro","luke","luke","paola","sonia", "eduardo"]

web_devs = {"sonia","eduardo", "carneiro 1st"}

#notive the type of the output!
set(some_data)

web_devs.intersection(some_data)


#extremely useful to get unique values inside an iterable!

#extremely useful to perform join logic

{'eduardo', 'sonia'}

In [ ]:
web_devs.difference(set(some_data))

{'carneiro 1st'}

In [ ]:
#how about a set comprehension?

newset = {letter for letter in'pedroooo' if letter != 'o'}

'p' in newset
newset.add('z')
newset

newset.issubset({'p','e','d','r','o','z'})

True

In [ ]:
# random practice

ophelia = ('Jhonatas','Maria','Zoe','Joan')

ophelia.count('Maria')
ophelia.index('Jhonatas')

0

In [ ]:
new_opehlia = ophelia + ('pedro','felipython')

In [ ]:
new_opehlia

('Jhonatas', 'Maria', 'Zoe', 'Joan', 'pedro', 'felipython')

In [ ]:
new_opehlia[1::2]

('Maria', 'Joan', 'felipython')

{'J', 'a', 'h', 'n', 'o', 's', 't'}