<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/lambda_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# you can be a perfectly excellent coder in python withhout knowing what lambda functions are

# all that we will learn today can be coded with other python constructs which we have learnt

# why lambda functions?

# INTERVIEWS

# efficient 

# when working in big projects, if the lead developer wants to use lambda function, we all need to abide

In [ ]:
# a lambda function is an anonymous function -> define them one time, and use them that time, and then they die

In [ ]:
# this is a real function that I can call as many times as it want, in different files, whenever I need
def square(x):
  g = lambda x : x**2
  return g(x)

In [ ]:
square(4)

16

In [ ]:
# how to do the same in a lambda function?

# lambda input(s) : output

lambda x : x**2

# currently this is uselless

In [ ]:
# normally you define them and apply them immediately

(lambda x : x**2)(4)

16

In [ ]:
# you can name lambda functions
g = lambda x,y : x**y

g(2,3)

8

In [ ]:
# lambda functions are useful when combined with iterables -> list comprehension

g = lambda x:x**2

[g(x) for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#[(defining lambda function)(applying it to x) for x in iterable]

[(lambda x:x**2)(x) for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# conditions in lambdas
# insert small logical condition in lambda functions 

g = lambda a,b : a+b if a%2 == 0 else a-b

In [ ]:
g(8,4)

12

In [ ]:
"""
Unlike lambda forms in other languages, where they add functionality, 
Python lambdas are only a shorthand notation if youâ€™re too lazy to define a function.
"""

In [ ]:
# a bit more interesting usecase is to havelambdas defined inside a function 

# ADVANCED

def flexible_function(power):
  # what the hell is a ? so far nothing -> this function by itself is still missing something
  return lambda a : a**power


# the flexible_functions actualy returns ANOTHER FUNCTION!!!!!!!!!!!! -> you will then be able to define new function

In [ ]:
# square numbers became ANOTHER FUNCTION that is ready to receive an input "a" and square it
square_numbers = flexible_function(2)

# the usecase of this is to define dynamic functions

In [ ]:
square_numbers(4)

64

In [ ]:
# you can do it all in one step 
flexible_function(2)(4)

16

In [ ]:
# when we combine lambda functions with map function

#but what is a map function?

# the map function allows you to apply an operation (a function) to an array of elements, in a dynamic way -> the function is applied element by elemebt

# you have a function with a very complex logic that you need to apply to each element in an iterable

#map(function to apply, array to apply it to)

def square(x):
  return x**2

In [ ]:
map(square,[1,2,3,4,5])

# whenever you use the map method, it returns a crazy map object

In [ ]:
list(map(square,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
# its very common to see map functions combined with lambda function

list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
result = []

for number in [1,2,3,4,5]:
  result.append(number**2)

result

[1, 4, 9, 16, 25]

In [ ]:
# filter

# similar to the logic of a map function but it applies a condition

# i want to get only the even ones

# filter is exactly like the map -> applies the function to each value, BUT only returns the true

list(filter(lambda x : x%2 ==0, [1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [ ]:
# the map would only apply the function to each one and return true or false
list(map(lambda x : x%2 ==0, [1,2,3,4,5,6,7,8]))

[False, True, False, True, False, True, False, True]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('sample_data/california_housing_test.csv')

In [ ]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
def square(x):
  return x**2

data['latitude'].apply(square)

0       1396.5169
1       1173.7476
2       1141.0884
3       1143.7924
4       1319.8689
          ...
2995    1184.7364
2996    1160.0836
2997    1317.6900
2998    1162.8100
2999    1184.7364
Name: latitude, Length: 3000, dtype: float64

In [ ]:
data['latitude'].apply(lambda x : x**2)

0       1396.5169
1       1173.7476
2       1141.0884
3       1143.7924
4       1319.8689
          ...
2995    1184.7364
2996    1160.0836
2997    1317.6900
2998    1162.8100
2999    1184.7364
Name: latitude, Length: 3000, dtype: float64

In [ ]:
list(map((lambda x : 2*x), [1,3,5,7,9]) )

[2, 6, 10, 14, 18]

In [ ]:
list(filter((lambda x : x%3 == 0), [1,3,5,7,9]))

[3, 9]