<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The objective of this lesson will be to review Lists (starting by covering the pre-work) and then deep diving into more complex uses of lists such as list comprehensions

For a good overview of lists and other data structures, check out the following reference: https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
mylist = []

mylist.append("1")
mylist.append("Pedro")
mylist.append(0)

mylist2 = ["hello","goobye"]

mylist + mylist2

# what happens if I multiply a list by 2? -> gets duplicated
mylist2*2

['hello', 'goobye', 'hello', 'goobye']

In [ ]:

mylist = [1,2,3,4,5,6,1,1,2]

mylist.count(1)

mylist.pop()

mylist.clear()

mylist = ["Pedro","Francico", "Maria","Eduardo"]

mylist.index("Maria")

2

In [ ]:
for name in mylist:
  if len(name) <= 5:
    print("cool name")
  else:
    print("long name")

cool name
long name
cool name
long name

In [ ]:
#First we need to remember the basic notation of lists

# let's create an empty list


#lets checkout the python type of this list
mylist = []

#what happens if we try to access the first index of this list?
# is it clear to everybody that we start counting at zero?
#mylist[0]
#ups. We need to add some stuff to our list

mylist.append("my first element")

mylist[0]
mylist[-1]

mylist.append("my second element")

print(mylist[0])
print(mylist[-1])

my first element
my second element

In [ ]:
mylist[:2]

['1', 'Pedro']

In [ ]:
# what happens if I add an element with a different data type?

mylist.append(2)

# how does append compare to:

#mylist[-1] = 3

#exactly, one case creates a new index (by appending), the other simply over writes what was there

In [ ]:
mylist = [1,2,3,"four","five","six",7]

#lets try out some nice methods
mylist.pop(2)
print(mylist)

mylist.insert(2,"new")

print(mylist.count(1))

#mylist.clear()

[1, 2, 'four', 'five', 'six', 7]
1

In [ ]:
#the great thing about lists is that once created we can iterate over them
mylist = [1,2,3,"four","five","six",7]
for element in mylist:
  print(element)

1
2
3
four
five
six
7

In [ ]:
mylist = [1,2,3,"four","five","six",7]
#lets understand how to use the index method
for element in mylist:
  print(mylist.index(element))

In [ ]:
#mini challenge: how can I iterate over the list and keep only the numeric values?
newlist = [1,2,3,"four","five","six",7]

int_list = []
string_list = []

for element in newlist:
  if type(element) is str:
    newlist.pop(newlist.index(element))
  else:
    continue

newlist

[1, 2, 3, 'five', 7]

In [ ]:
#lists of lists or nested lists

student1 = ["Catarina",1]
matteo = ["Matteo",2]
luke = ["Luke",3,"tall"]

data_class = []

data_class.append(student1)
data_class.append(matteo)
data_class.append(luke)

data_class

new_class = []
#example of nested loop
for x in data_class:
  for y in x:
    new_class.append(y)

#this is called "Flattening out a list"
new_class

['Catarina', 1, 'Matteo', 2, 'Luke', 3, 'tall']

In [ ]:
#mini challenge: how can I iterate over the list and keep only the numeric values?
newlist = [1,2,3,"four","five","six",7]

for el in newlist:

  if type(el) is not str:
    


mylist

1
2
3
7

[1, 2, 3, 'four', 'five', 'six', 7]

In [ ]:
mylist = [1,2,3,"four","five","six",7]
#mini challenge: same thing but now I want to keep the numeric values in another list

num_list = []

for element in mylist:
  if type(element) is str:
    print(type(element))
    print(element)
  else:
    mylist.pop(mylist.index(element))
    num_list.append(element)

print(mylist)
print(num_list)

<class 'str'>
five
<class 'str'>
six
[2, 'four', 'five', 'six']
[1, 3, 7]

In [ ]:
# lists of lists

mylist = [[0,1,2],[3,4,5],[6,7,8]]

for element in mylist:
  print(type(element))

In [ ]:
#list comprehension is a more compact (and efficient) way to create lists

newlist = []

for i in range(0,10):
  newlist.append(i**2)

newlist

comprehension = [i**2 for i in range(0,10)]
comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#now that we got the hang of lists, how about list comprehensions?
mylist = []
for i in range(0,10):
  mylist.append(i)

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#let's do the same thing with a list comprehension
#notation is:
# [result for iterator in iterable]
[i for i in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#I only want the odd numbers

[i if i%2 != 0 else -1 for i in range(0,10)]

# if I only want one condition -> "if" goes to the end

[i for i in range(0,10) if i%2 != 0]

[1, 3, 5, 7, 9]

In [ ]:

#alternatively

[i for i in range(0,10) if i%2 == 0]

#these represent two different usecases

[0, 2, 4, 6, 8]

In [ ]:
# now let's calculate the square numbers of a list, as a list comprehension

[i**2 for i in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## I want the message "too hot" when the celsius value is more than 40 and "not too hot" otherwise, for all faren temps over 70
lst = [78, 98, 90, 67, 78, 87, 95, 184]
lst = ["too hot" if (x-32)/1.8 >40 else "not too hot" for x in lst if x > 70]
lst

In [ ]:
lst = [78, 98, 90, 67, 78, 87, 95, 184]
newlst = []
for temp in lst:
  if temp > 70:
    if (temp-32)/1.8 >40:
      newlst.append("too hot")
    elif (temp-32)/1.8 <=40:
      newlst.append("not too hot")
    else:
      print("something is deeply wrong")

newlst

['not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'too hot']

In [ ]:
# !advanced 
# nested lists with list comprehensions

#matrix = [j for j in range(5) for i in range(5)] 
matrix = [[j for j in range(10)] for i in range(5)]
matrix

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
# so if we are given a list of lists, we can flatten in out

mylist = [[0,1,2],[3,4,5],[6,7,8]]

[val for sublist in mylist for val in sublist]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Suppose I want to flatten a given 2-D list and only include those strings whose lengths are less than 6

planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter"], ["Uranus", "Neptune", "Pluto"]]

[planet for group in planets for planet in group if len(planet) <6]

['Venus', 'Earth', 'Mars', 'Pluto']

In [ ]:
planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter"], ["Uranus", "Neptune", "Pluto"]]

[planet for group in planets for planet in group if len(group) == 2 and len(planet) ==4]

['Mars']

List Comprehensions vs Append method in lists



*   Clearly there are Pros & Cons
*   An explicit loop with an append method is more explicit and therefore possibly easier to read
* List comprehensions are far more performant for two reasons:
  * no need to load the append method so many times
  * Python has optimized things to create the list in C
* increase in performance can be of about 50%

* List comprehensions are more "elegant" from a coding point of view
* but sometimes if they become too long and hard to understand, you lose the advantages you had