<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/Pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

## What is Pandas

Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. 
DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.

### Pandas Series

Indexed data, created from a list or array

In [ ]:
data = pd.Series(range(4,45,6))
print(data)

In [ ]:
type(data)

In [ ]:
data.index = range(2,9)
data

In [ ]:
data.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
data

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

### Dataframe

In [ ]:
ds = pd.DataFrame()

In [ ]:
ds

In [ ]:
columns = ['Column1','Column2','Column3','Column4','Column5']
df = pd.DataFrame(np.random.random((10,5)), index = range(11,21), columns=columns)
df

In [ ]:
df['Column1']

In [ ]:
df[['Column1','Column2','Column3']]

### Converting other Structures to DataFrames

In [ ]:
lst = [208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000, 129900, 118000]

price_df = pd.DataFrame(lst, columns=['SalePrice'])
price_df

In [ ]:
lst_lst = [[8450, 'CollgCr', 2003, 7, 208500],
           [9600, 'Veenker', 1976, 6, 181500],
           [11250, 'CollgCr', 2001, 7, 223500],
           [9550, 'Crawfor', 1915, 7, 140000],
           [14260, 'NoRidge', 2000, 8, 250000],
           [14115, 'Mitchel', 1993, 5, 143000],
           [10084, 'Somerst', 2004, 8, 307000],
           [10382, 'NWAmes', 1973, 7, 200000],
           [6120, 'OldTown', 1931, 7, 129900],
           [7420, 'BrkSide', 1939, 5, 118000]]

colnames = ['LotSize','Neighborhood','YearBuilt','Quality','SalePrice']
pd.DataFrame(lst_lst, columns=colnames)

In [ ]:
house_dict = {'Baker House': [7420, 'BrkSide', 1939, 5, 118000],
              'Beazley House': [14115, 'Mitchel', 1993, 5, 143000],
              'Dominguez House': [14260, 'NoRidge', 2000, 8, 250000],
              'Hamilton House': [6120, 'OldTown', 1931, 7, 129900],
              'James House': [11250, 'CollgCr', 2001, 7, 223500],
              'Martinez House': [9600, 'Veenker', 1976, 6, 181500],
              'Roberts House': [9550, 'Crawfor', 1915, 7, 140000],
              'Smith House': [8450, 'CollgCr', 2003, 7, 208500],
              'Snyder House': [10084, 'Somerst', 2004, 8, 307000],
              'Zuckerman House': [10382, 'NWAmes', 1973, 7, 200000]}

pd.DataFrame(house_dict)

In [ ]:
# You can transpose the result and adjust the column names.
house_df = pd.DataFrame(house_dict).transpose()
house_df.columns = colnames
house_df

In [ ]:
# Or you can add the from_dict method and specify 'index' for the orient parameter, and then adjust your column names.
house_df = pd.DataFrame.from_dict(house_dict, orient='index')
house_df.columns = colnames
house_df

### Built-in Mathematical Functions

In [ ]:
# Total price of all houses sold
house_df['SalePrice'].sum()

In [ ]:
# Average lot size of houses sold
house_df['LotSize'].mean()

In [ ]:
# The latest year a house in the data set was built
house_df['YearBuilt'].max()

In [ ]:
# The eariliest year a house in the data set was built
house_df['YearBuilt'].min()