<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/SQL2Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
#import mysql.connector  . The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection objec

cnx = mysql.connector.connect(user='root', password='rootroot', host='127.0.0.1', database='publications', use_pure=True)

In [ ]:
# Inizializing cursor, we (MySQL ppl) use the cursor object as an iterator.
cursor = cnx.cursor()

#Inizialising query
query = ("SELECT * FROM authors")  ## Any query

#Sending query to database
cursor.execute(query)

In [ ]:
for data in cursor:
    print(data)  ## data's type is tuple

In [ ]:
columns_authors = ['au_id', 'au_lname', 'au_fname', 'phone', 'address', 'city', 'state', 'zip', 'contract'] ## According to query
sql2dataframe = pd.DataFrame(columns = columns_authors)

sql2dataframe.head(10)

In [ ]:
for i, data in enumerate(cursor):
    sql2dataframe.loc[i] = data

In [ ]:
sql2dataframe.head(40)

In [ ]:
# Remeber to close the cursor and connection!!
cursor.close()
cnx.close()

In [ ]:
sql2dataframe.head(20)